@charset "UTF-8";

@font-face {
    font-family: 'bomberma';
    src: url('../fontes/BOMBERMA.TTF') format(truetype);
}

:root {
    --fonte-bomber: 'bomerma', cursive;  
}

* {
    margin: 0px;
    padding: 0px;
    
}

html, body {
    min-width: 60vh;
    background-color: white;
    text-align: justify;
    text-size-adjust: unset;
    
}

header {
    margin: auto;
    padding: 5px;
    background-color: black;
    
}

header > h1 {
    font-family: var(--fonte-bomber);
    color:rgb(249, 97, 0) ;
    text-shadow: 0px 5px 5px black;
    text-align: center;
    padding-bottom: 20px;
    margin: auto;
    background-color: blue;
    
}

h2 {
    background-color: blue;
    text-align: center;
    font-family: var(--fonte-bomber);
    color: rgb(249, 97, 0);
}

p {
   margin: 15px;
   padding: 15px;
}

section.imagem {
    background: black;
    color: rgb(249, 97, 0);
    text-shadow: 0px 1px 1px black;
    
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.49);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.549);
    
}

section#img01 {
    background-image: url('../imagem/img01.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
    background-size: cover;
    background-attachment: fixed;
}

section#imgcard {
    background-image: url('../imagem/imgcards.jfif');
    padding: 10vw ;
    
}

section#imgshiro {
    background-image: url('../imagem/imgshiro.gif');
    background-position: center center;
    background-size: cover;
    padding: 10vw;
}

ul {
    margin: 20px;
}

footer {
    background-color: blue;
    color: rgb(249,97,0);
    text-align: center;
    font-size: larger;
}